// style.scss

@import url(http://fonts.googleapis.com/css?family=Raleway:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

$lightgrey: #696969;

*{font-family: 'Open Sans', sans-serif; box-sizing: border-box; -webkit-box-sizing: border-box;}

h1{font-family: 'Raleway', sans-serif;
	span{font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 1.4rem; color: $lightgrey;}
}


.container-fluid{padding-left: 0; padding-right: 0;}